* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #EDEEF0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    margin: 20px 0;
    display: flex;
}

.photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    
}

.aside_photo {
    margin: 0 auto 40px;
}

.main-container {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px;
}

main {
    width: 70%;
    padding: 50px 70px;
}

header, footer, main, aside {
    background-color: white;
    border-radius: 10px;
}

h1 {
    background-color: rgb(253, 196, 90);
    color: rgb(43, 43, 43);
    line-height: 1.2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 40px;
}

h2 {
    background-color: rgba(154, 217, 221, 0.921);
    display: inline-block;
    border-radius: 10px;
    line-height: 1.1;
    padding: 7px;
    font-size: 28px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 40px;
}

li {
    list-style: none;
}

main li::before {
    content: '✔';
}

aside li::before {
    content: '◾';
}